#blog{
	height: 700px;
background-size:cover;
  width: 100%;
  height: auto;
  background-position: center center;

	background-image:url(imgs/bg3.jpg); 
	h6{
		font-weight: 600;
		font-size: 18px;
	}
	p{
		font-size:12px;
	}
	img{
		display:block;
	}
	
}

