.imgcenter{
	width: 20%;


}
.borderno{
	border: none;
}

.formimg{

	  // width: 100%;
	  cursor:pointer;

}
// .bgform1{
// 	 background-image:url('imgs/slider1.jpg');

// }
// .bgform2{
// 	 background-image:url('imgs/slider2.jpg');

// }

.w68{
	width: 68px;
}