
.bg2{background-size:cover;
  width: 100%;
  height: auto;
  background-position: center center;

	background-image:url(imgs/bg2.jpg); 
}

.h640{
	height: 640px  ;

}

.m2-color{
	color: #363636;
}