$maincolor:#679509 ; //yasil
$maincolor2:#333333; //qara
$maincolor3:#8b8b8b; //boz
.maincolor{color: $maincolor}
.maincolor2{color: $maincolor2}
.maincolor3{color: $maincolor3}

.toppadding{
  padding-left: 100px;
}
.toppaddingimg{
  padding:10px 10px 10px 87px;
}

.header-color{
   background-color: $maincolor;
}
.font-family1{
  font-family:PT Sans, sans-serif;

}
.font-family2{
  font-family:'Pacifico', cursive;

}
.head-h1{
   
    font-weight: 900;
     font-size: 82px;
      // line-height: 98px;
       


}
@media (max-width: 576px) {
.head-h1{
   
     font-size: 42px;
 
} 
.head-h2{
   
   font-size: 22px; 

}
 }
.head-h1-padding{
  padding: 230px 0px 240px 66px;
}
.bg1{
  background-size:cover;
  width: 100%;
  height: auto;
  background-image:url('imgs/bg1.jpg');
}

.head-h2{
   
    font-weight: 400; font-size: 32px; 
    line-height: 40px; 
}

.head-button{ color: $maincolor;

}

.custom-button{
  background-color:$maincolor;
  display:inline-block;
  cursor:pointer;
  color:white;
  font-family:PT Sans, sans-serif;
  font-size:100%;
  padding: 20px 40px;
   font-weight: 900;
   text-decoration: none;
   border:none;
}





// main header head yuxaridadi

@import "form";
@import "OurProducts";
@import "shopnow";
@import "urey";
@import "blog";
@import "sliderP";